<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CROCK_CsharpBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CROCK_CsharpBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CROCK_CsharpBot.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value>1322961991:AAEqbpx7E4TlC7Wont1yjOhdpveip0PCvO0</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>C:\CrocBot\BotState\botstate.xml</value>
      </setting>
    </CROCK_CsharpBot.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CROCK_CsharpBot.Properties.Settings>
      <setting name="SavedPhotoDir" serializeAs="String">
        <value>Photos</value>
      </setting>
      <setting name="SavedDocumentDir" serializeAs="String">
        <value>Documents</value>
      </setting>
    </CROCK_CsharpBot.Properties.Settings>
  </userSettings>
</configuration>
